<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sjtu.icare.modules.orders.persistence.OrdersDAO">

    <resultMap type="com.sjtu.icare.modules.orders.entity.OrderEntity" id="OrderMap">
	    <id property="id" column="id" />
	    <result property="carerId" column="carer_id" />
	    <result property="elderId" column="elder_id" />
	    <result property="careItemId" column="care_item_id" />
	    <result property="itemName" column="item_name" />
	    <result property="itemDetail" column="item_detail" />
	    <result property="orderType" column="order_type" />
	    <result property="orderStatus" column="status" />
	    <result property="orderTime" column="order_time" />
	    <result property="rate" column="rate" />
	    <result property="rateDetail" column="rate_detail" />
	    <result property="revisitContent" column="revisit_content" />
	    <result property="callStart" column="call_start" />
	    <result property="callEnd" column="call_end" />
		<result property="callType" column="call_type" />
		<result property="callDetail" column="call_detail" />
		<result property="communityId" column="community_id" />
		<result property="communityName" column="community_name" />
		
		<result property="phoneNumber" column="phone_number" />
		<result property="elderName" column="elder_name" />
		<result property="carerName" column="carer_name" />
		<result property="address" column="address" />
	</resultMap>
  
    <select id="getOrderEntities" resultMap="OrderMap">
		SELECT
			o.*, elder.name AS elder_name, elder.phone_no AS phone_number, elder.residence_address AS address, community.id AS community_id, community.name AS community_name
			<!-- <if test="carerId != null"> 
				carer.name AS carer_name
			 </if> -->
		FROM 
			
				(T_ORDER AS o JOIN T_USER AS elder ON o.elder_id = elder.id) 
			<!-- 	<if test="carerId != null">
				JOIN T_USER AS carer ON o.carer_id = carer.id
			 </if> -->
			 
			JOIN T_GERO AS community ON elder.gero_id = community.id
		<where>
			<if test="orderId != null">
        	o.id = #{orderId}
        	</if>
        	<if test="communityId != null">
        	AND elder.gero_id = #{communityId}
        	</if> 
        	<if test="status != null">
        	AND o.status = #{status}
        	</if> 
        	<if test="datetimeBefore != null">
       	 	<![CDATA[
            AND #{datetimeBefore} >= convert(nvarchar(23), o.order_time, 120)
            ]]>
        	</if> 
        	<if test="elderName != null">
        	AND elder.name LIKE '%' + #{elderName} + '%'
        	</if>
        	<if test="phoneNumber != null">
        	AND elder.phone_no LIKE '%' + #{phoneNumber} + '%'
        	</if>
        	<if test="fuzzyQueryParams != null">
        	AND (elder.phone_no LIKE '%' + #{fuzzyQueryParams} + '%' OR o.id = #{fuzzyQueryParams})
        	</if>
        	

		</where>
    </select>

    <update id="updateOrderEntity">
    
        UPDATE
            T_ORDER
        <set>
            <if test="status != null">
            T_ORDER.status = #{status},
            </if>
            <if test="rate != null">
            T_ORDER.rate = #{rate},
            </if>
            <if test="itemDetail != null">
            T_ORDER.item_detail = #{itemDetail},
            </if>
            <if test="careItemId != null">
            T_ORDER.care_item_id = #{careItemId},
            </if>
            <if test="carerId != null">
            T_ORDER.carer_id = #{carerId},
            </if>
        </set>
        WHERE
            T_ORDER.id = #{id}
            
    </update>
    <insert id="insertOrderEntity">
    	INSERT INTO
            T_ORDER(carer_id,elder_id,care_item_id,item_name,item_detail,order_type,status,order_time,rate,rate_detail,
            revisit_content,call_start,call_end,call_type,call_detail) 
        VALUES
            (#{carerId}, #{elderId}, #{careItemId}, #{itemName}, #{itemDetail}, #{orderType}, #{orderStatus}, #{orderTime}, 
            #{rate}, #{rateDetail}, #{revisitContent}, #{callStart}, #{callEnd}, #{callType}, #{callDetail})
            
    </insert>
  <!--   <select id="getAllElders" resultMap="com.sjtu.icare.modules.sys.persistence.UserMapper.UserMap">
    
        SELECT 
            T_USER.*
        FROM 
            (T_USER INNER JOIN T_ELDER
            ON
                T_USER.user_type = #{userType}
                AND T_USER.gero_id = #{geroId}
                AND T_USER.user_id = T_ELDER.id 
                AND T_USER.cancel_date is NULL
	            <if test="name != null">
	                <if test="fuzzyMatch == true or fuzzyMatch == null">
		                AND T_USER.name LIKE '%' + #{name} + '%'
	                </if>
	                <if test="fuzzyMatch == false">
		                AND T_USER.name = #{name}
	                </if>
	            </if> 
	            <if test="gender != null">
	                AND T_USER.gender = #{gender}
	            </if>
	            <if test="ageMin != null">
	                <![CDATA[
	                AND T_USER.age >= #{ageMin}
	                ]]> 
	            </if>
	            <if test="ageMax != null">
	                <![CDATA[
	                AND T_USER.age <= #{ageMax}
	                ]]> 
	            </if>
	            <if test="careLevel != null">
                    AND T_ELDER.care_level = #{careLevel}
                </if>
	            <if test="areaId != null">
                    AND T_ELDER.area_id IN 
                    <foreach item="item" index="index" collection="areaIds" open="(" close=")" separator=",">
                         #{areaIds[${index}]}
                    </foreach>
                </if>
                
	        )    
	  
    </select>


    <insert id="insertElder" parameterType="ElderEntity" useGeneratedKeys="true" keyProperty="id">
    
        INSERT INTO
            T_ELDER(name, nssf_id, gero_id, archive_id, area_id, care_level, checkin_date, checkout_date, apply_url, survey_url, assess_url, track_url, pad_mac) 
        VALUES
            (#{name}, #{nssfId}, #{geroId}, #{archiveId}, #{areaId}, #{careLevel}, #{checkinDate}, #{checkoutDate}, #{applyUrl}, #{surveyUrl}, #{assessUrl}, #{trackUrl}, #{padMac})
            
    </insert>
    
    

    
    <update id="deleteElder">
    
        UPDATE
            T_ELDER
        SET
            T_ELDER.checkout_date = #{checkoutDate}
        WHERE
            T_ELDER.id = #{id}
            
    </update> -->
    
    
</mapper>